NEXT_PUBLIC_API_URL=http://localhost:5018/api
AUTH_SECRET=generate-a-unique-random-secret
AUTH_GOOGLE_ID=your-google-oauth-client-id
AUTH_GOOGLE_SECRET=your-google-oauth-client-secret
AUTH_TRUST_HOST=true
